<!--Footer-->
<footer class="mt-5">
    <div class="top-footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <h3>ĐĂNG KÝ NGAY ĐỂ NHẬN BẢN TIN</h3>
                        <p>Nhận mã giảm giá 15% khi đăng ký</p>
                        <form>
                            <input type="email" placeholder="Email của bạn" required>
                            <button type="submit">Theo dõi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-footer">
                <div class="footer-section">
                    <h2>Về chúng tôi</h2>
                    <ul>
                        <li>Địa chỉ: 123 Đường ABC, Thành phố XYZ</li>
                        <li>Hotline: 0123456789</li>
                        <li>Email: info@example.com</li>
                        <li>
                            <a href="https://twitter.com/example">Twitter</a>
                            <a href="https://instagram.com/example">Instagram</a>
                            <a href="https://facebook.com/example">Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-footer">
                <div class="footer-section">
                    <h2>Xu hướng</h2>
                    <ul>
                        <li><a href="#">Sản phẩm khuyến mãi</a></li>
                        <li><a href="#">Sản phẩm nổi bật</a></li>
                        <li><a href="#">Tất cả sản phẩm</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-footer">
                <div class="footer-section">
                    <h2 class="small-text">Mở cửa</h2>
                    <p class="small-text">Thứ 2 - 7, sáng 10:00 - chiều 5:00</p>
                </div>
            </div>

            <div class="col-md-3 col-footer">
                <div class="footer-section">
                    <h2>Album ảnh</h2>
                    <img src="~/Imgs/logo3.jpg" class="img-fluid" style="width:50px;height:50px">
                    <img src="~/Imgs/logo2.jpg" class="img-fluid" style="width:50px;height:50px">
                    <img src="~/Imgs/logo4.jpg" class="img-fluid" style="width:50px;height:50px">
                </div>
            </div>
        </div>
    </div>
</footer>

