<!--Policy-->
<div class="my-5 text-center col-lg-8 col-12 position-relative start-50 translate-middle-x">
    <h2>The Fashion</h2>
    <p><em>We love Fashion!</em></p>

    <p>
        Chào mừng bạn đến với trang web thời trang của chúng tôi
    </p>
    <p>
        Nơi tạo ra không gian ảo đầy màu sắc và phong cách,
        bạn có thể khám phá và trải nghiệm những xu hướng thời trang mới nhất
    </p>
    <p>Chúng tôi tự hào giới thiệu một không gian thú vị nghệ thuật và sáng tạo gặp gỡ với thế giới thời trang đa dạng</p>
    <br>

    <div class="bg-white my-5 position-relative" style="height: 200px; ">
        <div class="position-absolute w-100 h-100 text-light" style="background: url(/Imgs/Advertise.jpg); background-size: cover;">
            <br>
            <br>
            <h2 style="color: rgb(255, 113, 30);">Mua 1 được 2</h2>
            <h4 style="color: rgba(73, 70, 67, 0.774);">Giảm sâu đến 40% cho khách hàng có hóa đơn hơn 5 triệu trở lên</h4>
        </div>
    </div>


    <div class="row justify-content-between" style="font-size: 18px;">
        <div class="col-sm-4">
            <div class="policy d-flex align-items-center justify-content-center">
                <p>MIỄN PHÍ VẬN CHUYỂN</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="policy d-flex align-items-center justify-content-center">
                <p>HỖ TRỢ KHÁCH HÀNG 24/7</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="policy d-flex align-items-center justify-content-center">
                <p>HOÀN TIỀN 100%</p>
            </div>
        </div>
    </div>
</div>
