<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body d-flex flex-column align-items-center">
                    <img src="https://placehold.it/150x150" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#general">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#security">Security</a>
                        </li>
                    </ul>

                    <!-- Tab content -->
                    <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" id="general">
                            <!-- General information content -->
                            <h5>General Information</h5>
                            <p>Họ và tên: Đinh Văn Tài</p>
                            <p>Giới tính: Nam</p>
                            <p>Ngày sinh: 30/03/2003</p>
                            <p>Địa chỉ: 37/8/9</p>
                            <p>Tỉnh/Thành phố: Hồ Chí Minh</p>
                            <button class="btn btn-primary float-right">Chỉnh sửa</button>
                        </div>
                        <div class="tab-pane fade" id="security">
                            <!-- Security information content -->
                            <h5>Security Information</h5>
                            <p>Tên đăng nhập: lmht016847</p>
                            <p>Email đăng nhập: l*********gmail.com</p>
                            <p>SĐT đăng nhập: 094****609</p>
                            <p>Mật khẩu: ********</p>
                            <button class="btn btn-primary float-right">Chỉnh sửa</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>