<!--Thân-->
<content class="bg-primary-subtle">
    <div class="container-fluid bg-dark col-lg-8 col-12" style="height: 50px;">
        <div class="d-flex align-items-center h-100">
        </div>
    </div>

    <div class="container-fluid bg-light col-lg-8 col-12">

        <table class="table newsTable">
            <tr>
                <th>Hình ảnh</th>
                <th>Tiêu đề</th>
                <th>Nội dung</th>
                <th>Ngày đăng</th>
            </tr>
        </table>
    </div>
</content>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        GetNews();
    });
</script>
