  <!--Thân-->
<content class="bg-primary-subtle" id="content">
    <div class="container-fluid bg-dark col-lg-8 col-12" style="height: 50px;">
        <div class="d-flex align-items-center h-100">
        </div>
    </div>

    <div class="container-fluid bg-light col-lg-8 col-12" style=" padding: 50px 100px;">
        <div class="row justify-content-center">

            <div class="GioiThieu" style="text-align: justify;">
                <h2 style="margin-bottom: 50px">Giới thiệu về LTGFashion</h2>

                <img src="~/Imgs/anhGioiThieu.jpg" alt="AnhGioiThieu" style="float: right; margin-left: 30px; width: 600px">

                <p>
                    LTGFashion, do CEO LTGFashion quản lý, tự hào là thương hiệu thời trang nam hàng đầu tại Việt Nam.
                    Với sứ mệnh tạo nên những bộ trang phục sản xuất trong nước, LTGFashion không chỉ chú trọng vào kiểu dáng và chất lượng mà còn đặt lên tầm cao về phong cách thời trang.
                    Điều này được thể hiện qua sự cân nhắc kỹ lưỡng trong từng đường may, sự sáng tạo trong thiết kế độc quyền, và việc sử dụng chất liệu vải cao cấp.
                </p>


                <p>
                    LTGFashion mong muốn trang phục của mình trở thành một phần không thể thiếu trong cuộc sống hàng ngày của nam giới, mang lại sự tự tin và thoải mái.
                    Thương hiệu này hiểu rằng sự tự tin trong phong cách thời trang không chỉ là một cách để thể hiện bản thân mà còn là động lực để theo đuổi những ước mơ và mục tiêu của mỗi người.
                </p>


                <p>
                    LTGFashion đã xây dựng một hệ thống cửa hàng rộng lớn, trải dài tại nhiều thành phố lớn trong cả nước, cung cấp đầy đủ các loại trang phục và phụ kiện.
                    Phong cách tối giản nhưng đầy tính thời trang của LTGFashion tạo ra sự gần gũi và đa dụng, phù hợp cho mọi hoàn cảnh.
                </p>



                <p>
                    Ngoài ra, LTGFashion tự hào giới thiệu ba cái tên nổi bật trong ban quản lý:
                    <a href="">Đinh Văn Tài</a>,
                    <a href="">Phùng Vĩnh Luân</a> và
                    <a href="">Hoàng Tường Giang</a>
                    <br>
                    Họ đều là những người đóng góp lớn vào sự phát triển và thành công của thương hiệu.
                </p>

            </div>


        </div>
    </div>

</content>
