<!--Thân-->
<content class="bg-primary-subtle" id="content">
    <div class="container-fluid bg-dark col-lg-8 col-12" style="height: 50px;">
        <div class="d-flex align-items-center h-100">
        </div>
    </div>

    <div class="bg-secondary col-lg-8 col-12 position-relative start-50 translate-middle-x">
        <div class="row">
            <div class="position-absolute start-0 col-5 h-100 py-5 px-4" style="background: rgba(0, 0, 0, 0.6);">
                <div class="h-100 text-light">
                    <h3>Bộ Sưu Tập Thời Trang Hàng Hiệu</h3>
                    <br>
                    <p>Chào mừng quý khách đến với hành trình khám phá thế giới thời trang đẳng cấp tại "Bộ Sưu Tập Thời Trang Hàng Hiệu"</p>

                    <p>
                        Chúng tôi không chỉ là một điểm đến mua sắm, mà còn là không gian trải nghiệm sự sang trọng và phá cách.
                        Được tạo nên từ những nhãn hiệu hàng đầu, chúng tôi tự tin mang đến cho bạn những trải nghiệm mua sắm độc đáo,
                        nơi nổi bật vẻ đẹp và cái chất riêng biệt của thế giới thời trang.
                    </p>


                    <p>
                        Tại đây, bạn sẽ bắt gặp những xu hướng thời trang mới nhất, từ những cái tên nổi tiếng và uy tín trên thị trường.

                        Chúng tôi không chỉ là người bán hàng, mà còn là người kể chuyện về những câu chuyện thú vị và đằng sau từng chiếc áo, mỗi đôi giày, và mọi phụ kiện trên kệ hàng của chúng tôi.

                        Hãy để chúng tôi dẫn dắt bạn vào thế giới thời trang độc đáo và đẳng cấp, nơi sự hoàn hảo và sáng tạo hòa quyện trong từng bộ sưu tập tinh tế.
                    </p>

                    <p>Hãy bắt đầu hành trình thời trang của bạn cùng chúng tôi!</p>

                    <br>

                    <button type="button" class="btn btn-outline-light d-flex align-items-center">
                        <a href="@Url.Action("ShowTatCaSanPham", "SanPham")" class="btn btn-outline-light d-flex align-items-center">ĐẾN XEM SẢN PHẨM</a>
                    </button>


                </div>

            </div>

            <div class="col-md-12">
                <img src="~/Imgs/cara-delevingne.2241.jpg" class="w-100">
            </div>
        </div>
    </div>
</content>
