<ul class="list-group subcategories" id="subcategory2">
    @{
        foreach (var item in Model)
        {
            <li class="list-group-item border-0 bg-transparent">
                <a href="@Url.Action("ShowTheoLoai", "SanPham", new { Ma = item.MALOAI, MaDanhMuc = 2 })" style="text-transform: uppercase; text-decoration: none; color: black">@item.TENLOAI</a>
            </li>
        }
    }
</ul>
